:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}

/* Style for input box */
.text-box {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #444;
  border-radius: 5px;
  outline: none;
  width: 250px;
  background-color: #333;
  color: white;
  margin-bottom: 10px;
   
}

/* Input box focus effect */
.text-box:focus {
  border-color: limegreen;
}

/* Style for Create button */
.create-btn {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: limegreen;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.create-btn:hover {
  background-color: green;
}

/* Style for task list */
ol {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  width: 300px;
}

/* Style for each task */
.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 2px solid #444;
  background-color: #333;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

/* Style for button container */
.btn {
  display: flex;
  gap: 5px;
}

/* Style for buttons */
.btn button {
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: gray;
  color: white;
}

.btn button:hover {
  background-color: limegreen;
}